# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Type checker caches
.mypy_cache/
.dmypy.json
.dmypy.json.*/
.pyre/

# Logs and local data
*.log
*.db
*.sqlite
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
*.spec
